body {
  background-image: url("/static/images/fon.jpg");

}

body, #slider, .wrapper .slide-content {
  font-family: Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
}

.main-container {
    background-color: #2c3039;
}

.main-logo {
  display: flex;
  justify-content: center;
  font-family: 'Bitter', serif;
  font-size: 350%;
}

.main-info {
  display: flex;
  justify-content: space-around;
}

.main-info p {
  padding: 7%;
  font-size: 170%;
}

.main-info img {
  width: 30%;
  height: 30%;
  padding: 5%;
  border-radius: 130px;
}

/* Header */

header {
  display: flex;
  align-items:center;
  justify-content: space-around;
  height: 100px;


}

header a {
  text-decoration: none;
  color: white;
  font-size: 25px;
}

.logo-header {
  font-size: 20px;
}

/* Slider */
.wrapper {
  position: relative;
}

.slide {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.slide1 {
  background-image: url("/static/images/999.jpg")
}

.slide2 {
  background-image: url("/static/images/patrick-ward-z_dLXnQg0JY-unsplash.jpg")
}

.slide3 {
  background-image: url("/static/images/kevin-bhagat-zNRITe8NPqY-unsplash.jpg")
}

.slide-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.slide-content span {
  font-size: 5rem;
  color: white;
}

.arrow {
  cursor: pointer;
  position: absolute;
  top: 50%;
  margin-top: -35px;
  width: 0;
  height: 0;
  border-style: solid;
}

#arrow-left {
  border-width: 30px 40px 30px 0;
  border-color: transparent white transparent transparent;
  left: 0;
  margin-left: 30px;
}

#arrow-right {
  border-width: 30px 40px 30px 40px;
  border-color: transparent transparent transparent white;
  right: 0;
  margin-left: 30px;
}

/* Adding item to cart */

.add-cart-info-text {
  font-size: 30px;
}

.add-cart-item-basic-info {
  font-size: 20px;
}

.add-cart-info-logo-purchase {

}

.add-cart-content {
  display: flex;
  justify-content: center;

}

.add-cart-info {
  background-color: blue;
  color: white;
  padding: 20px;
}

.add-cart-item-content {
  background-color: white;
  padding: 20px;
}

.add-cart-item-subinfo {
  display: flex;
  justify-content: space-around;
}

.add-cart-item-subinfo p {
  text-align: right;
}

.add-cart-item-subinfo p span {
  text-align: left  ;
}


/* Registration */

.register-content {
  display: flex;
  justify-content: center;
  background-color: white;
  padding: 0px;
  box-sizing: border-box;
  height: 650px;
  width: 1000px;
  border-radius: 20px;
}

.register-form {
    display: flex;
    flex-direction: column;
    padding-top: 110px;
    padding-right: 190px;
}

.register-form ul {
  display: none;
}

.register-form .helptext {
  display: none;
}

.register-form label {
  text-align: center;
}


.login-content {
  display: flex;
  flex-direction: row;
  padding: 200px;
  background-color: white;
  padding: 0px;
  border-radius: 20px;
  margin: 100px;
}

.login-content img{
  border-radius: 20px;
}

.login-content-form {
  display: flex;
  flex-direction: column;
  padding: 40px;
}

.login-content-form label {
  text-align: center;
  padding: 20px;
}

.login-content-form input {
  padding: 5px;
  background-color: #d7dadc;
  color: black;
  border-radius: 9px;
  height: 35px;
}

.login-content-form button {
  width: 400px;
  margin-top: 55px;
  height: 50px;
}

.login-content-form p {
  text-align: center;
}

.login-content-form a {
  text-decoration: none;
  color: #3133a3;
}

/*Shop*/

.price-content {
  text-align: center;
  font-size: 25px;

}

.item-title-content {
  text-align: center;
  font-size: 30px;
}

.order a{
  text-decoration:none;
  color: white;
  border: solid;
  padding: 5px;
}

.order {
  text-align: center;
}

.info-content {
  width: 300px;
  padding: 5px;
}

.item-content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    max-width: 50%;
    margin-left: 25%;
}


.single-item {
  padding: 5%;
  margin-bottom: 110px;
  background-color: #F08080;
  color: white;
  padding: 25px;
}

.single-item:hover {
  transition: 0.5s;
  background-color: #261ca3;
}

.shop-logo {
  text-align: center;
  font-size: 55px;
  color: white;
}

.shop-logo span {
  text-align: left;
  color: blue;
}

/*Discover*/

.discover-logo {
  display: flex;
  align-items: center;
  text-align: center;
  font-size: 300%;
  color: white;
}

.discover-content {
  display: flex;
  flex-direction: column;
  background-color: #7FDBFF;
  opacity: 0.8;
  width: 1300px;
  margin-left: 16%;
}

.discover-earpods-content {
  display: flex;
  justify-content: center;
}

.discover-keyboard-content {
  display: flex;
  justify-content: center;
}

/* About */

.about-image-apple-logo {
  color:white;
  font-size: 30px;
  display: flex;
  flex-direction: column;
  padding-left: 400px;
  padding-top: 100px;
}

.about-content {
  padding: 60px;
}

.about-logo {
  display: flex;
  padding-left: 390px;
  color: white;
}

.about-logo h1 {
  font-size: 650%;
  text-align: center;
  font-weight: 1400;
  font-family: 'Varela Round', sans-serif;
}

.text-content {
  display: flex;
  justify-content: flex-start;
  color:white;
  text-align: center;
  font-size: 400%;
}

.text-content p {
  padding-right: 1100px;
  padding-left: 450px;
}

.community-content {
  display: flex;
  align-items:center;
  justify-content:space-around;
}

.community-content p {
  font-size: 35px;
  padding: 90px;
}

.join-content {
  display: flex;
  justify-content: space-around;
}

.join-content p {
  font-size: 50px;
}

.about-mission-content {
  color:white;
  font-size: 29px;
  padding-left: 930px;
  padding-right: 200px;
}

/*Contacts*/

.contacts-content {
  display: flex;
  justify-content: center;
}

.contacts-content h1 {
  font-size: 200px;
  color: white;
  margin-left: 5%;
}

.location-content p {
  font-size: 70px;
  padding: 110px;
  color: white;
}



/* log reg forms*/

form {
    display: flex;
    justify-content: center;
}

button {
  background-color: black;
  border: none;
  color: white;
  padding: 10px 32px;
  text-align: center;
  font-size: 16px;
  border-radius: 9px;
}

button a {
  text-decoration: none;
  color: white;
  font-size: 40px;
}

/*Cart*/

.cart-content {
  display: flex;
  flex-direction: column;
}

.cart-empty-content {
  text-align: center;
  color: white;
}

/* Footer */

.footer {
  width: 100vw;
  display: block;
  overflow: hidden;
  padding: 70px 0;
  box-sizing: border-box;

}

.inner-footer {
  display: block;
  margin: 0 auto;
  width: 1100px;
  height: 100px;
}

.inner-footer .logo-container {
  width: 35%;
  float: left;
  height: 100%;
  display: block;
}

.inner-footer .logo-container i {
  width: 65px;
  height: auto;
}

.inner-footer .footer-third {
  width: 20%;
  margin-right: 10px;
  float: left;
  height: 100%;
}

.inner-footer .footer-third:last-child {
  margin-right: 0;
}

.inner-footer .footer-third h1 {
  font-family: 'arial';
  font-size: 22px;
  color: white;
  display: block;
  width: 100%;
  margin-bottom: 20px;
}

.inner-footer .footer-third a {
    font-family: 'arial';
    font-size: 18px;
    color: white;
    display: block;
    font-weight: 200;
    width: 100%;
    padding-bottom: 5px;
    text-decoration: none;
  }
