{% extends 'index.html' %}

{% load static %}

{% block content %}
<div class="shop-logo">
  <h2> <span>Pretty.</span> </h2>
  <h2> Freaking Powerfull.</h2>
</div>
<div class="item-content">
  {% for item in items %}
  <div class="one-item-content">
    <div class="single-item">
      <img src="{{ item.upload.url }}" alt="" style="
        width:300px;
        height:300px;
        border-radius:60px;
      ">
      <div class="item-title-content">
        {{item.title}}
      </div>
      <div class="info-content">
        {{item.basic_info}}
      </div>
      <div class="price-content">
        <div class="price">
          {{item.price}}$
        </div>
        <br>
      </div>
      <div class="order">
        <div class="order-btn">
          <a href="/cart/{{item.pk}}">Add to Cart</a>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
<br>
<br>
<br>
<br>
<br>
<br>

{% endblock%}
