{% extends 'index.html' %}

{% load static %}

{% block content %}
<div class="shop-logo">
  <h2> Pretty. Freaking Powerfull. </h2>
</div>
<div class="item-content">
  {% for item in items %}
  <div class="one-item-content">
    <div class="single-item">
      <div class="info-content">
        {{item.basic_info}}
      </div>
      <div class="price-content">
        <div class="price">
          {{item.price}}$
        </div>
        <img src="{{ item.upload.url }}" alt="" style="
          width:300px;
          height:300px;
          padding: 0 2%;
          border-radius:60px;
        ">
      </div>
      <div class="order">
        <h3>123</h3>
        <div class="order-btn">
          <a href="/cart/{{item.pk}}">Add to Cart</a>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
<br>
<br>
<br>
<br>
<br>
<br>

{% endblock%}
