{% extends 'index.html' %}

{% load static %}


{% block content %}

<div class="discover-content">
  <div class="discover-earpods-content">
      <img src="{% static 'images/Airpods.png'%}" alt="" style="width:100px; height:100px;">
  </div>
  <div class="discover-logo">
    <img src="{% static 'images/Mouse.png'%}" alt="" style="width:100px; height:100px;">
    <h1> Join us. Be yourself. </h1>
    <img src="{% static 'images/air.png'%}" alt="" style="width:100px; height:100px;">
  </div>
  <div class="discover-button">
    <form>
        <button><a href="/main"> Discover </a></button>
    </form>
    <br>
  </div>
  <div class="discover-keyboard-content">
    <img src="{% static 'images/keyboard.png'%}" alt="" style="width:100px; height:100px;">
  </div>

</div>

{% endblock %}
