{% load static %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Bitter&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Varela+Round&display=swap" rel="stylesheet">
    <title></title>
  </head>
  <body>
    <header id="header">
      <img src="{% static 'svg/apple-01.svg' %}" alt="">
      <a href="/about">
        About
      </a>
      <a href="/main">
        What's New
      </a>
      <a href="/shop">
        Shop
      </a>
      <a href="/contacts">
        Contacts
      </a>
      {% if user.is_authenticated %}
      <a href="/logout">
        Log out
        <!--<i class="material-icons"> account_circle </i> -->
      </a>
      {% else %}
      <a href="/register">
        Sign up
      </a>
      <a href="/log">
        Sign in
      </a>
      {% endif %}
      <a href="/cart">
        <i class="material-icons"> shopping_cart </i>
      </a>
    </header>

    {% block content %}
    <div class="main-container">
      <div class="wrapper">
        <div id="arrow-left" class="arrow"></div>
        <div id="slider">
          <div class="slide slide1">
            <div class="slide-content">
                <span>Change your mind with iMAC</span>
                <button type="button" name="button"><a href="/shop">Shop now</a></button>
            </div>
          </div>
          <div class="slide slide2">
            <div class="slide-content">
                <span>New iMAC PRO</span>
                <button type="button" name="button"><a href="/shop">Shop now</a></button>
            </div>
          </div>
          <div class="slide slide3">
            <div class="slide-content">
                <span>Try new Macbook</span>
                <button type="button" name="button"><a href="/shop">Shop now</a></button>
            </div>
          </div>
        </div>
        <div id="arrow-right" class="arrow"></div>
      </div>

      <script src="{% static 'javascript/slider.js' %}"></script>
      </div>
      {% endblock %}

      <div class="footer">
        <div class="inner-footer">

          <div class="logo-container">
            <i class="material-icons" style='color: white;'> pan_tool </i>
          </div>

          <div class="footer-third">
            <h1>Need Help?</h1>
            <a href="#">Terms &amp; Conditions</a>
            <a href="#">Privacy Policy</a>
          </div>

          <div class="footer-third">
            <h1>More</h1>
            <a href="#">Brouchures</a>
            <a href="#">Donate</a>
            <a href="#">Impact Reports</a>
          </div>

          <div class="footer-third">
            <h1>Follow Us</h1>
            <a href="https://www.facebook.com/validol27"><i class="fab fa-facebook"></i></a>
            <li> <a href="https://www.linkedin.com/in/val-galesnik-6b3b77163/"><i class="fab fa-linkedin"></i></a> </li>
            <li> <a href="#"> <i class="fa fa-instagram"></i> </a> </li>
          </div>
        </div>
      </div>

  </body>
</html>
